
		<!-- Banner -->
    <section id="banner">
				<h2><strong>Comenta</strong> acerca de Guatemala</h2>
				<p>Informate</p>
				<ul class="actions">
          <!--<li><a routerLink="/crear" class="button special">Crear comentario</a></li>-->
          <li><a href="#crear" class="button special">Escribir comentarios</a></li>
          <li><a href="#ver" class="button special">Ver comentarios</a></li>
				</ul>
      </section>
      <app-test-component id="crear"></app-test-component>

      <div class="container">
        <app-lista-comentarios id="ver"
        class="col-md4 p-2" 
        *ngFor = "let task of tasks" 
        [task] = "task"></app-lista-comentarios>
      </div>
			
      <footer id="footer">
          <div class="copyright">
            &copy; Programacion WEB - Mario Grajeda 1191014.
          </div>
        </footer>

        
  
  
    
  

<ul>



</ul>




