
		<!-- Banner -->
    <section id="banner">
				<h2><strong>Comenta</strong> acerca de Guatemala</h2>
				<p>Informate</p>
				<ul class="actions">
          <!--<li><a routerLink="/crear" class="button special">Crear comentario</a></li>-->
          <li><a routerLink="/visualizar" class="button special">Ver comentarios</a></li>
          <li><a href="#" class="button special">Eliminar comentario</a></li>
				</ul>
			</section>

      <router-outlet></router-outlet>
			
      <footer id="footer">
          <div class="copyright">
            &copy; Programacion WEB - Mario Grajeda 1191014.
          </div>
        </footer>

        
  
  
    
  

<ul>



</ul>
<input type="button" class="btn btn-danger" value="Crear"> 

