<section id="two" class="wrapper style2 special">
    <div class="inner narrow">
      <header>
        <h2>Escribenos tus comentarios</h2>
      </header>
      <form (submit)="addTask()" class="grid-form">
        <div class="form-control narrow">
          <label for="name">Name</label>
          <input name="name" id="name" type="text" [(ngModel)]="name">
        </div>
        <div class="form-control narrow">
          <label for="email">Email</label>
          <input name="email" id="email" type="email" [(ngModel)]="email">
        </div>
        <div class="form-control narrow">
            <label for="movil">Movil</label>
            <input name="Movil" id="movil" type="text" [(ngModel)]="movil">
        </div>
        <div class="form-control narrow">
            <label for="nacion">Nacionalidad</label>
            <input name="nacion" id="nacion" type="text" [(ngModel)]="nacion">
        </div>
        <div class="form-control">
          <label for="message">Message</label>
          <textarea name="message" id="message" rows="4" [(ngModel)]="message"></textarea>
        </div>
        <ul class="actions">
          <li><input value="Enviar comentario" type="submit"></li>
        </ul>
      </form>
    </div>
  </section>